In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [ ]:
data = pd.read_csv("aps_failure_training_set.csv" , na_values=["na"])
print(data.shape)
'''
Why use na_values=["na"]?
Kuch datasets me missing value ko "na" likha hota hai instead of empty.
Pandas default me "na" ko missing value nahi maanta, isliye aap manually batate ho ki: 

'''

In [ ]:
data

# False Positive
esme real me false hoga wrong hoga but model predict krega true


# False Negative 
esme real me true hoga wrong hoga but model predict krega false

In [ ]:
fig , ax  = plt.subplots(figsize = (10,6))
missing_values = data.isnull().sum().div(data.shape[0]).mul(100).to_frame().sort_values(by=0 , ascending=False)

ax.bar(missing_values.index , missing_values[0])
plt.xticks([])
plt.ylabel("Percentage of missing values")
plt.title("Missing values percentage per feature")
plt.show()

In [ ]:
# data.shape returns (rows , columns) if you want number of rows then use data.shape[0] and for columns use data.shape[1]
data.isnull().sum().div(data.shape[0]).multiply(100).to_frame().sort_values(by = 0 , ascending = False)

In [15]:
dropping_columns = missing_values[missing_values[0] > 70]
dropping_columns

                0
br_000  81.410965
bq_000  80.501824
bp_000  78.794075
cr_000  77.086327
ab_000  77.086327
bo_000  76.533658
bn_000  72.761689

In [16]:
data.drop(columns= dropping_columns.index , axis=1, inplace = True)
data.shape

(36188, 164)

In [17]:
missing_values_count = data.isnull().sum()
total_cells = np.prod(data.shape)
total_missing = missing_values_count.sum()

print("Total percentage of missing values:", (total_missing / total_cells) * 100)

Total percentage of missing values: 5.37059852747306

In [ ]:
pos = data[data['class'] == 'pos'].shape[0]
neg = data[data['class'] == 'neg'].shape[0]

print("Positive "+str(pos)+" Negative "+str(neg))

Positive 1000 Negatiive 35188

# Data ImBalance Problem 
Isko class imbalance bolte hain, aur APS Failure dataset me yahi sabse bada issue hota hai.
üìå Tumhare case me kya ho raha hai?

Positive = 35,000

Negative = 1,000

Matlab model ko 97% data ek hi class ka mil raha hai (positive).
To model generally bias ho jayega positive side me.

Iska result kya hoga?
Model har baar positive bol dega aur accuracy phir bhi high aayegi (because 97% positive hain!).

‚ö†Ô∏è Kya problems aayengi?

Accuracy high but useless model

Accuracy = 97%+
Par negative cases detect nahi honge.


Aur APS dataset me rare failures (negative) hi important hote hain.

Precision/Recall kharab

Negative miss ho jayenge ‚Üí high false negatives.

# SMOTE Technique handle imbalance dataset (Imp for interview)